In [2]:
import pandas as pd

In [6]:
cab_rides_df = pd.read_csv('cab_rides.csv')
weather_df = pd.read_csv('weather.csv')

cab_rides_df['time_stamp'] = pd.to_datetime(cab_rides_df['time_stamp'], unit='ms')
weather_df['time_stamp'] = pd.to_datetime(weather_df['time_stamp'], unit='s')

merged_df = pd.merge(cab_rides_df, weather_df, on='time_stamp')

merged_df.to_csv('merged_data.csv', index=False)

print("Merged DataFrame:")
merged_df.head()

Merged DataFrame:

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,temp,location,clouds,pressure,rain,humidity,wind
0,1.22,Uber,2018-11-28 09:32:18,Northeastern University,Back Bay,10.5,1.0,85de4cd6-9dfb-42f1-a365-66ea58c2d3ca,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,33.54,Back Bay,0.42,991.75,NaN,0.83,5.90
1,1.22,Uber,2018-11-28 09:32:18,Northeastern University,Back Bay,10.5,1.0,85de4cd6-9dfb-42f1-a365-66ea58c2d3ca,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,33.49,Beacon Hill,0.42,991.80,NaN,0.84,5.89
2,1.22,Uber,2018-11-28 09:32:18,Northeastern University,Back Bay,10.5,1.0,85de4cd6-9dfb-42f1-a365-66ea58c2d3ca,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,33.59,Boston University,0.42,991.81,NaN,0.83,5.78
3,1.22,Uber,2018-11-28 09:32:18,Northeastern University,Back Bay,10.5,1.0,85de4cd6-9dfb-42f1-a365-66ea58c2d3ca,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,33.30,Fenway,0.42,991.82,NaN,0.84,5.82
4,1.22,Uber,2018-11-28 09:32:18,Northeastern University,Back Bay,10.5,1.0,85de4cd6-9dfb-42f1-a365-66ea58c2d3ca,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,34.17,Financial District,0.42,991.74,NaN,0.81,5.97